gradio
torch
transformers>=4.40.0
huggingface_hub
matplotlib
PyMuPDF
python-docx
python-pptx
pandas
openpyxl
language-tool-python
nltk
scikit-learn
requests
accelerate
python-dotenv
spacy
fastapi
uvicorn[standard]
python-multipart
websockets
langdetect